{% extends "wrapper.html" %}
{% block container %}

<!DOCTYPE html>
<html>
  <head>
    <title>Write review for {{name}}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/wrapper.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <header>
        <h2>Add a new study spot:</h2>
      </header>
      <main>
        <form method="POST" action="{{ url_for('add_spot')}}">
          <p>
            Description/Notes:<br />
            <textarea type="text" id="fdescription" name="fdescription"></textarea>
          </p>
          <p>
            <a href="{{ url_for('home')}}">Cancel</a>
            <input type="submit" name="create-btn" value="Post" />
          </p>
        </form>
      </main>
    </div>
  </body>
</html>
{% endblock %}