<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />
    <link href="../static/css/search_page.css" href="{{ url_for('static', filename='css/search_page.css') }}" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/126efe61ad.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="container">
      <form>
        <i class="fa-solid fa-magnifying-glass"></i>
        <input type="text" placeholder="Enter keyword">
        <button type="submit">Search</button>
      </form>
    </div>
  </body> 
</html>
