<!DOCTYPE html>
<html>
  <head>
    <title>App Name Here</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/wrapper.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <header>
        <h1>Web App: App Name Here</h1>
        <p>
          <a href="{{ url_for('home')}}">Home</a> |
          <a href="{{ url_for('add_spot')}}">Add a Study Spot</a> |
          <a href="{{ url_for('')}}">In progress</a>
        </p>
      </header>
      <!-- <main>{% block container %} {% endblock %}</main> -->
      <main>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore 
          magna aliqua. Volutpat sed cras ornare arcu dui vivamus arcu felis bibendum. Odio tempor orci dapibus ultrices 
          in iaculis nunc sed augue. Placerat in egestas erat imperdiet sed euismod nisi. Ullamcorper malesuada proin 
          libero nunc. Magnis dis parturient montes nascetur ridiculus mus mauris. Ipsum suspendisse ultrices gravida 
          dictum fusce ut. Aenean euismod elementum nisi quis eleifend quam adipiscing. Tempus egestas sed sed risus 
          pretium quam vulputate dignissim suspendisse. Tristique senectus et netus et malesuada fames ac. Eget nullam 
          non nisi est sit amet facilisis magna etiam. Ipsum consequat nisl vel pretium. Egestas integer eget aliquet 
          nibh praesent tristique magna sit amet.
        </p>
        <p>
          Cras sed felis eget velit aliquet sagittis id consectetur. Nunc sed id semper risus in hendrerit gravida. Orci 
          nulla pellentesque dignissim enim. Ac tortor dignissim convallis aenean et. Ac orci phasellus egestas tellus. 
          Semper viverra nam libero justo laoreet sit amet. Luctus accumsan tortor posuere ac ut consequat. Turpis egestas 
          pretium aenean pharetra magna ac placerat. Volutpat consequat mauris nunc congue nisi vitae suscipit. Aliquet 
          sagittis id consectetur purus ut. Hendrerit dolor magna eget est lorem ipsum dolor sit. Malesuada fames ac 
          turpis egestas sed tempus urna et pharetra. Nunc sed augue lacus viverra vitae congue eu. Nibh nisl condimentum 
          id venenatis a condimentum vitae sapien. Tempor nec feugiat nisl pretium fusce. Mattis rhoncus urna neque 
          viverra justo nec. Ultricies mi eget mauris pharetra. Sodales ut etiam sit amet. Eget nunc lobortis mattis 
          aliquam faucibus purus.
        </p>
      </main>
      <footer>
        <p>
          This site is still under construction, so please be patient with us!
        </p>
      </footer>
    </div>
  </body>
</html>